@use 'base/variables' as var;
@use 'base/mixins' as m;

.delivery {
    padding: var.$separation 0;
    &__heading {
        text-align: center;
        color: var.$secondary;
    }
    &__grid {
        @include m.tablet {
            @include m.grid(2, var.$separation);
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    &__text {
        line-height: 1.7;
        color: var.$secondary;
    }
    &__link {
        @include m.button(var.$primary, var.$white)
    }
}